
<!DOCTYPE html>
<html class="no-js" lang="en">
	<title></title>
    <head>
    	 <!--STYLES-->
            <link rel="stylesheet" href="/stylesheets/bootstrap.css">
            <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
            
    
  </div>
    </head>
    <body>
    	<br/>
    	<div class="container">
			<div class="jumbotron">
				<h1>Greetings from Supri</h1>
				 <hr>
				 <div class="row">
				 	
        				<div class="col-md-4">
        					<h4><b>Nama Lengkap</b></h4>
        				</div>
        			 	<div class="col-md-8">
        					<h4>Supriyatno</h4>
        				</div>
				 </div>
				 <div class="row">
				 	<div class="col-md-4">
        					<h4><b>Universitas/Instansi</b></h4>
        				</div>
        			 	<div class="col-md-8">
        					<h4>STMIK Sinar Nusantara</h4>
        				</div>
				 </div>
				 <div class="row">
				 	
        				<div class="col-md-4">
        					<h4><b>Jurusan</b></h4>
        				</div>
        			 	<div class="col-md-8">
        					<h4>Teknik Informatika</h4>
        				</div>
				 </div>
				 <div class="row">
				 	
        				<div class="col-md-4">
        					<h4><b>Angkatan</b></h4>
        				</div>
        			 	<div class="col-md-8">
        					<h4>2014</h4>
        				</div>
				 </div>
				 <hr>
				<div class="row">
					<p>Motivasi saya mengikuti <b>Fullstack Javascripts Workshop</b> adalah untuk mencari hal baru, mempelajari teknologi baru, mencari pengalaman, menambah pengetahuan, menambah teman dan bertemu orang - orang hebat  </p>
				</div>				
			</div>
		</div>
    	<div class="container">
        <hr>
        <footer class="footer">
            <div class="pull-left">
              <a href="/" >Fullstack Javascripts Workshop</a>
              
            </div>
        </footer>
    </div>

     <!--SCRIPTS-->
    <script src="/public/javascripts/bootstrap.js"></script>
    
    <!--SCRIPTS END-->
      
    </body>
</html>