<!DOCTYPE html>
<html class="no-js" lang="en">
	<title></title>
    <head>
    	 <!--STYLES-->
            <link rel="stylesheet" href="/public/stylesheet/bootstrap.css">
            <link rel="stylesheet" href="/public/stylesheet/bootstrap-theme.css">
            <div class="navbar navbar-inverse navbar-fixed-top">
		        <div class="container">
		          <a class="navbar-brand" href="/">Activity over lord</a>
       		 </div>
    
  </div>
    </head>
    <body>
    	<%- body %>
    	<div class="container">
        <hr>
        <footer class="footer">
            <div class="pull-right">
              <a href="/" >Sails.js</a>
              <div>belajar node js</div>
            </div>
        </footer>
    </div>

     <!--SCRIPTS-->
    <script src="/public/javascripts/bootstrap.js"></script>
    
    <!--SCRIPTS END-->
      <%- blocks.localScripts %>
    </body>
</html>